
        <div class="modal fade" id="dadosPacienteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title text-white">Dados do Paciente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">              
                        <legend style="font-size: 15px;">CPF:</legend>                
                        <h5 class="text-dark modal-cpf" ></h5>
                        <hr />
                      </div>
                    
                      <div class="form-group">              
                        <legend style="font-size: 15px;">Nome:</legend>                
                        <h5 class="text-dark modal-nome" ></h5>
                        <hr />
                      </div>
                      <div class="form-group">
                        <legend style="font-size: 15px;">Endereço:</legend>                
                        <h5 class="text-dark modal-endereco"></h5>
                        <hr />
                      </div>
                      <div class="form-group">
                        <legend style="font-size: 15px;">Bairro:</legend>                
                        <h5 class="text-dark modal-bairro"></h5>
                        <hr />
                      </div>
                      <div class="form-group">
                        <legend style="font-size: 15px;">Nascimento:</legend>                
                        <h5 class="text-dark modal-nascimento" ></h5>
                        <hr />
                      </div>
                      <div class="form-group">
                        <legend style="font-size: 15px;">Telefone:</legend>                
                        <h5 class="text-dark modal-fone"></h5>
                        <hr />
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div
        class="modal fade"
        id="quarentenaModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-dark">
              <h5 class="modal-title text-white" id="exampleModalLabel">
                Paciente para Quarentena
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/quarentena" method="POST" >
                
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <legend>Data Inicio:</legend>
                      <input
                        name="inicio"
                        type="text"
                        class="form-control form-control-user modal-nascimento"
                        placeholder="00/00/0000"
                        data-mask="00/00/0000"
                      />
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <legend>Data Término:</legend>
                      <input
                        name="termino"
                        type="text"
                        class="form-control form-control-user modal-fone"
                        placeholder="00/00/0000"
                        data-mask="00/00/0000"
                      />
                    </div>
                    
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    
                    <input
                      name="id"
                      type="hidden"
                      min="0"
                      class="form-control form-control-user modal-id"
                    />
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    
                    <input
                    
                      name="quarentena"
                      type="hidden"
                      min="0"
                      class="form-control form-control-user modal-quarentena"
                    />
                  </div>
                  <input type="text" value="<%= token %>" style="visibility: hidden;" />
                
  
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-dark">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
        <div
        class="modal fade"
        id="suspeitoModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-dark">
              <h5 class="modal-title text-white" id="exampleModalLabel">
                Suspeito
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="text-dark modal-id" >Tem certeza que deseja definir este paciente como suspeito?</h5>
              <form action="/suspeitos" method="POST" >
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    
                    <input
                      name="id"
                      type="hidden"
                      min="0"
                      class="form-control form-control-user modal-id"
                    />
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    
                    <input
                      name="suspeitos"
                      type="hidden"
                      min="0"
                      class="form-control form-control-user modal-suspeito"
                    />
                  </div>
                  <input type="text" value="<%= token %>" style="visibility: hidden;" />
                </div>
  
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-dark">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
     
  
  <div class="modal fade" id="editPacienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-white" id="exampleModalLabel">Edição de Paciente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/atualizar_paciente" >
            <div class="form-group">
              <legend>CPF:</legend>
              <input
                name="cpf"
                type="text"
                class="form-control form-control-user modal-cpf"
                value=""
                placeholder="Digite aqui o nome"
              />
            </div>
        
            <div class="form-group">
              <legend>Nome:</legend>
              <input
                name="nome"
                type="text"
                id="pacienteNome"
                class="form-control form-control-user modal-nome"
                value=""
                placeholder="Digite aqui o nome"
              />
            </div>
            <div class="form-group">
              <legend>Endereço:</legend>
              <input
                name="endereco"
                type="text"
                class="form-control form-control-user modal-endereco"
                placeholder="Digite aqui o endereço"
              />
            </div>
            <div class="form-group ">

                <legend style="font-size: 15px;">Bairro:</legend>
                <select  
                name = "bairro" 
                class="custom-select modal-bairro"
                required>
                  <option value="centro">Centro</option>
                  <option value="texaco">Texaco</option>
                  <option value="tancredo neves">Tancredo Neves</option>
                  <option value="alto da colina">Alto da Colina</option>
                  <option value="elias david">Elias David</option>
                </select>
            </div>
  
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <legend>Data de nascimento:</legend>
                <input
                  name="nascimento"
                  type="text"
                  class="form-control form-control-user modal-nascimento"
                  placeholder="00/00/0000"
                  data-mask="00/00/0000"
                />
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                <legend>Telefone:</legend>
                <input
                  name="telefone"
                  type="text"
                  class="form-control form-control-user modal-fone"
                  placeholder="(00) 00000-0000"
                  data-mask="(00) 00000-0000"
                />
              </div>
              <input
                name="id"
                type="hidden"
                class="form-control form-control-user modal-id"
              />              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-dark">Enviar</button>
            </div>
          </form>
        </div>        
      </div>
    </div>
  </div>

  <div
  class="modal fade"
  id="boletimModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Edição de Boletim
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formBoletim" action="/boletim" method="POST">
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <legend style="font-size: 15px;">
                Confirmados:
              </legend>
              <input
                name="confirmados"
                id="confirmados"
                type="number"
                min="0"
                class="form-control form-control-user modal-nascimento"
              />
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <legend style="font-size: 15px;">Suspeitos:</legend>
              <input
                name="suspeitos"
                type="number"
                id="suspeitos"
                min="0"
                class="form-control form-control-user"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <legend style="font-size: 15px;">
                Aguardando Resultado:
              </legend>
              <input
                name="resultado"
                type="number"
                id="resultado"
                min="0"
                class="form-control form-control-user"
              />
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <legend style="font-size: 15px;">Curados:</legend>
              <input
                name="curados"
                type="number"
                id="curados"
                min="0"
                class="form-control form-control-user modal-fone"

              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-dark">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="inserirViagemModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inserir Viagem</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/viagens" method="POST">
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <legend>Data da viagem:</legend>
              <input
                name="data"
                required
                type="text"
                class="form-control form-control-user modal-nascimento"
                placeholder="00/00/0000"
                data-mask="00/00/0000"
              />
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <legend>Destino:</legend>
              <input
                name="destino"
                required
                id = "pacienteDestino"
                type="text"
                class="form-control form-control-user modal-fone"
                placeholder="Digite o destino aqui"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <legend>Horário:</legend>
              <input
                name="hora"
                required
                type="text"
                class="form-control form-control-user modal-nascimento"
                placeholder="00:00:00"
                data-mask="00:00:00"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input
                name="id"
                required
                type="hidden"
                class="form-control form-control-user modal-id"
              />
            </div>
          </div>
          <button type="submit" 
          class="btn btn-dark float-right">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="inserirUsuarioModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro de Usuário</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="user" name="formulario" id="formInserirUsuario" action="/registrar" method="POST"  >
          <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
              <legend style="font-size: 15px;">Privilégio:</legend>
              <select  name = "privilegio" class="custom-select">
                  <option selected value="barreira">Barreira</option>
                  <option value="enfermagem">Enfermagem</option>
                  <option value="admin">Admin</option>
                </select>
            </div>
          </div>
          <div class="form-group row">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <legend style="font-size: 15px;">Nome Completo:</legend>
                  <input
                    name="nome"
                    id="usuarioNome"
                    type="text"
                      required
                      class="form-control form-control-user"

                    placeholder="Digite aqui o nome"
                  />
                </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <legend style="font-size: 15px;">Usuário:</legend>
                  <input
                    name="usuario"
                    type="text"
                    required
                    class="form-control form-control-user"
                    placeholder="Digite aqui o nome"
                  />
                </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <legend style="font-size: 15px;">Senha:</legend>
                  <input
                    name="senha"
                    type="password"
                    required
                    class="form-control form-control-user"

                    placeholder="Digite aqui o nome"
                  />
                </div>
            </div>
          <br>
          <div class="col-sm-12 mb-3 mb-sm-0" >
              <button              
              type="submit"
              class="btn btn-dark btn-user btn-block"
            >
              Enviar
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="EditUsuarioModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edição de Usuário</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="user" name="formulario" id="formEditarUsuario" action="/usuarios" method="POST"  >           
            <div class="form-group row">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <legend style="font-size: 15px;"> Nova Senha:</legend>
                  <input
                    name="senha"
                    type="password"
                    required
                    class="form-control form-control-user"
                    placeholder="Digite aqui a nova senha"
                  />
                </div>
            </div>
            <div class="form-group row">
              <input
                    name="id"
                    type="hidden"

                    class="form-control form-control-user modal-id"
                  />
            </div>
          <br>
          <div class="col-sm-12 mb-3 mb-sm-0" >
              <button              
              type="submit"
              class="btn btn-dark btn-user btn-block"
            >
              Enviar
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
class="modal fade"
id="excluirPacienteModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header bg-dark">
      <h5 class="modal-title text-white" id="exampleModalLabel">
        Excluir Paciente
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="text-dark" >Tem certeza que deseja excluir este paciente?</h5>
      <form action="/excluir_paciente" method="GET" >
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            
            <input
              name="id"
              type="hidden"
              class="modal-id"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-dark">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


  
<script src="jquery/jquery.min.js"></script>
<script src="jquery-easing/jquery.easing.min.js"></script>
<script src="datatables/jquery.dataTables.min.js"></script>
<script src="/js/jquery.mask.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script src="datatables/dataTables.bootstrap4.min.js"></script>
<script src="js/datatables-demo.js"></script>    
<script src="assets/js/main.js"></script>
<script src="/js/formSubmit.js"></script>
  
  
  
<script>
  $('#inserirViagemModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var id = button.data('id') 
  var modal = $(this)
  modal.find('.modal-id').val(id)
  })
  
  $('#excluirPacienteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var id = button.data('id') 
  var modal = $(this)
  modal.find('.modal-id').val(id)
  })
  
  
</script>

<script>
  $('#EditUsuarioModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var nome = button.data('nome') 
  var privilegio = button.data('privilegio')
  var id = button.data('id')
  var modal = $(this)
  modal.find('.modal-nome').val(nome)
  modal.find('.modal-privilegio').val(privilegio)
  modal.find('.modal-id').val(id)
  })  
</script>
<script>
      $('#editPacienteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var nome = button.data('nome') 
      var id = button.data('id') 
      var fone = button.data('fone')
      var endereco = button.data('endereco')
      var nascimento = button.data('nascimento')
      var cpf = button.data('cpf')
      var bairro = button.data('bairro')
      bairro = bairro.toLowerCase()
      var modal = $(this)
      modal.find('.modal-nome').val(nome)
      modal.find('.modal-id').val(id)
      modal.find('.modal-fone').val(fone)
      modal.find('.modal-endereco').val(endereco)
      modal.find('.modal-nascimento').val(nascimento)
      modal.find('.modal-cpf').val(cpf)
      modal.find('.modal-bairro').val(bairro)
      })
  
      
</script>
    
  
<script>
    $('#suspeitoModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('id') 
    var suspeito = button.data('suspeito')
    var token = button.data('token')
  
    var modal = $(this)
    modal.find('.modal-id').val(id)
    modal.find('.modal-suspeito').val(suspeito)
    modal.find('.modal-token').val(token)   
    })
    
</script>
  <script>
    $('#quarentenaModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('id') 
    var quarentena = button.data('quarentena')
    var token = button.data('token')
  
    var modal = $(this)
    modal.find('.modal-id').val(id)
    modal.find('.modal-quarentena').val(quarentena)
    modal.find('.modal-token').val(token)
   
    })
  
    
  </script>
  
    <script>
  $('#dadosPacienteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var nome = button.data('nome') 
      var fone = button.data('fone')
      var endereco = button.data('endereco')
      var nascimento = button.data('nascimento')
      var cpf = button.data('cpf')
      var bairro = button.data('bairro')
  
      var modal = $(this)
      modal.find('.modal-nome').text(nome)
      modal.find('.modal-endereco').text(endereco)
      modal.find('.modal-nascimento').text(nascimento)
      modal.find('.modal-fone').text(fone)
      modal.find('.modal-cpf').text(cpf)
      modal.find('.modal-bairro').text(bairro)
      })
  
    </script>
  


  
  
  </body>
    
    </body>
  </html>
  