<%- include('partials/header.ejs'); %>
      <div class="card shadow mb-8">
        <div class="card-header py-3 bg-white">
          <h5 class="m-0 font-weight-bold text-dark">
            Cadastro de Pacientes
          </h5>
        </div>
        <div class="card-body p-0"></div>
        <!-- Nested Row within Card Body -->

        <div class="p-5">
          <form class="user" method="POST" action="/pacientes">
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <legend style="font-size: 15px;">CPF:</legend>
                <input
                  name="cpf"
                  required
                  type="text"
                  class="form-control form-control-user"
                  id="exampleInputPassword"
                  placeholder="000.000.000-00"
                  data-mask="000.000.000-00"
                />
              </div>
            </div>

            <div class="form-group">
              <legend style="font-size: 15px;">Nome:</legend>
              <input
                name="nome"
                type="text"
                required
                class="form-control form-control-user"
                id="input_name"
                placeholder="Digite aqui o nome"
              />
            </div>
            <div class="form-group">
              <legend style="font-size: 15px;">Endereço:</legend>
              <input
                required
                name="endereco"
                type="text"
                class="form-control form-control-user"
                id="exampleInputEmail"
                placeholder="Digite aqui o endereço"
              />
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <legend style="font-size: 15px;">Data de nascimento:</legend>
                <input
                  name="nascimento"
                  type="text"
                  required
                  class="form-control form-control-user"
                  id="exampleInputPassword"
                  placeholder="00/00/0000"
                  data-mask="00/00/0000"
                />
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                <legend style="font-size: 15px;">Telefone:</legend>
                <input
                  name="telefone"
                  required
                  type="text"
                  class="form-control form-control-user"
                  id="exampleInputPassword"
                  placeholder="(00) 00000-0000"
                  data-mask="(00) 00000-0000"
                />
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                <legend style="font-size: 15px;"></legend>
                <input
                  name="token"
                  type="hidden"
                  class="form-control form-control-user"
                  value="<%= token %> "
                  style="visibility: hidden;"
                />
              </div>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck"
                name="attsuspeito"
              />
              <label class="custom-control-label" for="customCheck"
                >Declarar suspeito para ser visitado pela equipe de enfermagem
              </label>
              
            </div>
            <br>
            <button              
              type="submit"
              class="btn btn-dark btn-user btn-block"
            >
              Enviar
            </button>
            <% if (msg[0].texto) { %>
            <div class="alert alert-success text-center">
              <%=msg[0].texto%>
            </div>
            <% } %>
            <hr />
          </form>
          <hr />
        </div>
      </div>

    <script src="jquery/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/jquery.mask.min.js"></script>
    <script>
      function validaForm() {
        let nome = "";
        return false;
      }
    </script>
    <script>
      function formSubmit() {
        let dado = {
          nome: "nyguel",
        };
        fetch("http://localhost:3333/pacientes", {
          method: "POST",
          body: JSON.stringify(dado),
        });

        /*
      $.ajax({
          url: "http://localhost:3333/pacientes",
          method: 'POST',
          data: {"nome":"nyguel"},
          dataType: 'json',
        });*/
      }
    </script>
  </body>
</html>
