<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/view-login.css" />
    <title>Suporte Covid</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Suporte Covid</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-right">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Paciente
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/cadastro_paciente">Novo</a>
              <a class="dropdown-item" href="/pacientes">Listar</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Profissional
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/cadastro_profissional">Novo</a>
              <a class="dropdown-item" href="/profissionais">Listar</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Conta
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Senha</a>
              <a class="dropdown-item" href="/logout">Deslogar</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0"></div>
            <!-- Nested Row within Card Body -->

            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Cadastro de Profissional</h1>
              </div>
              <form class="user" method="POST" action="/profissionais">
                <div class="form-group">
                  <legend>Nome:</legend>
                  <input
                    name="nome"
                    type="text"
                    class="form-control form-control-user"
                    id="input_name"
                    placeholder="Digite aqui o nome"
                  />
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <legend>Telefone:</legend>
                    <input
                      name="telefone"
                      type="text"
                      class="form-control form-control-user"
                      id="exampleInputPassword"
                      placeholder="(00) 00000-0000"
                      data-mask="(00) 00000-0000"
                    />
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <legend>Função:</legend>
                    <select
                      class="form-control form-control-user"
                      name="funcao"
                      id=""
                    >
                      <option value="Enfermeiro">Enfermeiro(a)</option>
                    </select>
                  </div>
                </div>
                <br />
                <button
                  onclick="submit()"
                  type="button"
                  class="btn btn-primary btn-user btn-block"
                >
                  Enviar
                </button>
                <% if (msg[0].texto) { %>
                <div class="alert alert-success text-center">
                  <%=msg[0].texto%>
                </div>
                <% } %>
              </form>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/jquery.mask.min.js"></script>
  </body>
</html>
